.add-row {
    height: 80px;
    position: relative;
}
.add-row-close {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-row-open {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-item {
    flex: 1;
    text-align: center;
}
