.add-row {
    height: 80px;
    position: relative;
}
.add-row-close {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s;
}
.add-row-open {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: opacity .3s;
    /*background-color: red;*/
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
}
.add-item {
    height: 100%;
    flex: 1;
    text-align: center;
}
