.add-text-wrapper {
    padding: 20px;
    height: 100%;
}
.add-textarea {
    height: 200px;
    width: 100%;
    padding: 10px;
    /* 避免设置padding后宽度溢出 */
    box-sizing: border-box;
    color: #222;
    font-size: 16px;
}

.add-text-btns {
    display: flex;
    justify-content: space-between;
}
.add-text-left-btns {
    display: flex;
}
.add-text-left-btns {
    padding: 0 10px 0 0 ;
}