.web-video-wrapper {
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: white;
    /* 让absolute可滚动 */
    overflow: auto;
}

.web-video-container {
    padding: 20px;
}

.input {
    box-sizing: border-box;
    padding: 10px;
    height: 100px;
    border: #F4F4F4 1px solid;
    width: 100%;
}