input {
    border: 0;
    outline: none;
}

#wrapper {
    padding: 0 15px;
}

.edit-cover {
    height: 210px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-cover-none {
    font-size: 12px;
    color: #999;
}

.edit-cover-close {
    width: 100px;
    height: 20px;
    margin: 10px 0 0 20px;
    background-color: #F8F8F8;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-cover-close-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#title-box {
}

#title-input {
    font-size: 20px;
    line-height: 1.3;
    width: 100%;
    height: 68px;
    color: #191919;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
}

.add-row {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-icon {
    width: 20px;
    height: 20px;
}

#percent {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#percent-child {
    background-color: white;
    width: 250px;
    height: 100px;
    box-shadow: 0 4px 8px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
}