input {
    border: 0;
    outline: none;
}

#wrapper {
    padding: 0 15px;
}


.cover {
    width: 100%;
}
.edit-cover {
    height: 210px;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.edit-cover-none {
    font-size: 14px;
    color: #999;
}

.edit-cover-hidden {
    margin: 10px 0 0 20px;
    width: 110px;
    height: 32px;
    border-radius: 4px;
    background-color: #F8F8F8;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #191919
}

.edit-cover-hidden-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 2px;
}

.edit-cover-wrapper {
    background-color: #00000030;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: white;
}

.edit-cover-remove {
    position: absolute;
    width: 40px;
    height: 40px;
}
.edit-cover-remove-img {
    width: 18px
}
.edit-cover-update {
    position: absolute;
    color: white;
    font-size: 13px;
    bottom: 10px;
    right: 18px
}

#title-box {
}

#title-input {
    font-size: 20px;
    line-height: 1.3;
    width: 100%;
    height: 68px;
    color: #191919;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
}

.add-row {
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-icon {
    width: 20px;
    height: 20px;
}

#percent {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#percent-child {
    background-color: #F8F8F8;
    width: 220px;
    height: 90px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
    color: #191919
}
.percent-cancel {
    margin-top: 20px;
    font-size: 12px;
}