.add-text-container {
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: white;
}
.add-text-wrapper {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.add-textarea {
    height: 200px;
    width: 100%;
    color: #222;
    font-size: 16px;
}

.add-text-btns {
    display: flex;
    align-items: center;
}

.add-text-btn {
    margin-right: 28px;
    background-position: center center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.add-text-newline {
    height: 30px;
    width: 55px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    vertical-align: center;
    background-color: #F8F8F8;
    color: #9b9b9b;
}

.edit-text-overlay {
    position: fixed;
    box-shadow: 0 5px 30px 0 #D5D5D5;
    border-radius: 6px;
}

.edit-text-triangle {
    position: fixed;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.edit-text-colors {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #D5D5D550 1px solid;
    border-radius: 6px;
}
.edit-text-color {
    margin: 16px 8px;
    width: 18px;
    height: 18px;
    border-radius: 2px
}

.edit-text-font {
    margin: 16px 8px;
    width: 60px;
    text-align: center;
    border-radius: 2px;
    color: #231815;
}