.add-link-wrapper {
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: white;
}

.add-link-container {
    padding: 20px;
}

.input-link-url {
    display: block;
    border-bottom: lightgray 1px solid;
    height: 60px;
    width: 100%;
}