.bottom-overlay-container {
    position: absolute;
    left: 0;
    width: 100%;
    color: black;
    transition: bottom .3s, height .3s;
    flex-direction: column;
    display: flex;
    box-sizing: content-box;
}

