@min-pc-width: 500px;
@app-width: 100%;
@app-left: 50px;

.App {
  display: flex;
  justify-content: center;

  .container {
    text-align: center;
    width: 100%;
  }
}

.fixed {
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  pointer-events: none;
  bottom: 0;
  top: 0;
  z-index: 999;

  .fixed-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;

    & > * {
      pointer-events: auto;
    }
  }
}

// PC端
@media all and (min-width: @min-pc-width) {
  .fixed .fixed-wrapper {
    width: @min-pc-width;
  }

  .App .container {
    width: @min-pc-width;
  }
}

